@import "./basic";

body {
  background-color: #303030;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .container {
    max-width: 300px;
    width: 100%;

    .form {
      margin: 50px 0;
      max-width: 300px;

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        .form-label {
          margin-bottom: 10px;
        }

        .form-input {
          outline: none;
          border: 2px solid #eee;
          border-radius: 5px;
          font-size: 16px;
          padding: 5px 10px;
          transition: all 0.3s ease-in-out;

          &:focus {
            border-color: #ffc107;
            background: transparent;
            color: #fff;
          }

          &.show-error {
            border-color: #ff0000;
            color: #ff0000;
          }
        }

        .form-info {
          display: none;

          &.show-error {
            margin-top: 5px;
            background-color: #ff0000;
            color: #fff;
            padding: 2px 5px;
            border-radius: 5px;
            display: block;
          }
        }
      }

      .form-button {
        outline: none;
        border: 2px solid #eee;
        border-radius: 8px;
        font-size: 16px;
        padding: 5px 10px;
        transition: all 0.3s ease-in-out;
        margin-left: auto;
        display: block;
        cursor: pointer;

        &:hover {
          border-color: #ffc107;
          background: transparent;
          color: #fff;
        }
      }
    }

    .headline-2 {
      width: 100%;
      text-align: left;
      color: #ffc107;
    }

    .tasks {
      .task {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px 0;

        &.deleted {
          display: none;
        }

        .task-text {
          &.checked {
            text-decoration: line-through;
          }
        }

        .check-box {
          border: 2px solid #ffc107;
          transition: all 0.3s ease-in-out;
          width: 20px;
          height: 20px;
          border-radius: 5px;
          margin-right: 5px;
          cursor: pointer;

          &:hover {
            background-color: #ffc107;
          }

          &.checked {
            display: none;
          }
        }

        .delete {
          color: #ff0000;
          cursor: pointer;
        }
      }
    }
  }
}
